<p-menubar>
  <ng-template pTemplate="start">
    <h2 class="pl-5">{{ fileName }}</h2>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="pr-5">
      <p-avatarGroup >
        @for(client of clientsInRoom; track client.id) {
          <p-avatar
            image="{{ client.picture }}"
            pTooltip="{{ client.name }}"
            tooltipPosition="bottom"
            tooltipStyleClass="text-xs"
            shape="circle"
            size="normal"
          />
        }
      </p-avatarGroup>
    </div>
  </ng-template>
</p-menubar>

@if(hasPerms) {
<p-splitter
  [style]="{ height: '95vh' }"
  [panelSizes]="[70, 30]"
  [minSizes]="[50, 25]"
  layout="vertical"
>
  <ng-template pTemplate>
    <div class="h-full w-full">
      <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="code"
        class="h-full w-full"
        (onInit)="onEditorInit($event)"
      ></ngx-monaco-editor>
    </div>
    <p-dialog
      header="Add Comment"
      [modal]="true"
      [(visible)]="visibleCreateComments"
    >
      <div class="flex align-items-center gap-3 mb-5">
        <label for="comment">Comment</label>
        <input id="comment" type="text" pInputText [(ngModel)]="comment" />
      </div>
      <p-button label="Add" class="mr-2" (click)="addComment(comment)" />
    </p-dialog>
  </ng-template>
  <ng-template pTemplate>
    <div>Output from Judge0</div>
  </ng-template>
</p-splitter>
}
