<p-toast></p-toast>
<ng-container *ngIf="sharedworkspaces.length > 0; else noSharedWorkspaces">
<p-treeTable 
  [value]="sharedworkspaces" 
  [columns]="cols" 
  [scrollable]="true" 
  [tableStyle]="{ 'min-width': '50rem'}">
  <ng-template pTemplate="caption">
    <p-menubar class="no-border">
      <ng-template pTemplate="start">
        <h2>My Shared Workspaces</h2>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex" (keydown.enter)="findSharedWorkspace(searchTerm, currentPage)">
          <div class="p-input-icon-left mr-4">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search Workspaces..." [(ngModel)]="searchTerm" />
          </div>
        </div>
      </ng-template>
    </p-menubar>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-button
          label={{rowData.name}}
          [text]="true"
          [plain]="true"
          [routerLink]="['/workspaces', rowData.id, 'fs']" 
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['router-link-active']"
        />
      </td>
      <td>{{ rowData.owner }}</td>
    </tr> 
  </ng-template>
</p-treeTable>
<p-paginator
  (onPageChange)="onPageChange($event)"
  [rows]="10"
  [totalRecords]="totalRecords"
/>
</ng-container>

<ng-template #noSharedWorkspaces>
  <p-menubar>
    <ng-template pTemplate="start">
      <h2>My Shared Workspaces</h2>
    </ng-template>
  </p-menubar>
<div class="flex align-items-center justify-content-center my-5 text-5xl">No Shared Workspaces found.</div>
</ng-template>