<p-treeTable 
  [value]="workspaces" 
  [columns]="cols" 
  [scrollable]="true" 
  [rows]="10"
  [paginator]="true"
  [tableStyle]="{ 'min-width': '50rem'}">
  <ng-template pTemplate="caption">
    <p-menubar class="no-border">
      <ng-template pTemplate="start">
        <h2>My Workspaces</h2>
      </ng-template>
      <ng-template pTemplate="end">
        <div class="flex">
          <div class="p-input-icon-left" [style]="{ 'margin-right': '1em'}">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search Workspaces..." [(ngModel)]="searchTerm" (input)="findWorkspace(searchTerm)" />
          </div>
          <p-button
          label="Create Workspace"
          icon="pi pi-plus"
          (click)="showDialogCreate()"
          [style]="{ 'margin-right': '.5em'}"/>
          <p-dialog
            header="Create a Workspace"
            [(visible)]="visibleCreate"
            [modal]="true"
            [style]="{ 'width': '50vw'}">
            <div class="flex align-items-center gap-3 mb-5">
              <label for="name" [style]="{ 'margin-right': '1em'}">Name</label>
              <input pInputText id="name" class="flex-auto" [(ngModel)]="workspaceName" autocomplete="off"/>
            </div>
            <ng-template pTemplate="footer">
              <p-button
                label="Create"
                (click)="createWorkspace(workspaceName)"
                [style]="{ 'margin-right': '.5em'}"/>
            </ng-template>
          </p-dialog>
        </div>
      </ng-template>
    </p-menubar>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td *ngFor="let col of cols; let i = index; let last = last">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
        <span>{{ rowData[col.field] }}</span>
        <ng-container *ngIf="last">
          <p-button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            (click)="showDialogEdit(rowData)"
            [style]="{ 'margin-right': '.5em'}"/>
          <p-dialog
            header="Edit Workspace Name" 
            [(visible)]="visibleEdit"
            [modal]="true"
            [style]="{ 'width': '50vw'}">
            <div class="flex align-items-center gap-3 mb-5">
              <label for="name" [style]="{ 'margin-right': '1em'}">Name</label>
              <input pInputText id="name" class="flex-auto" [(ngModel)]="workspaceName" autocomplete="off"/>
            </div>
            <ng-template pTemplate="footer">
              <p-button
                label="Edit"
                (click)="editWorkspace(currentRowData.id, workspaceName)"
                [style]="{ 'margin-right': '.5em'}"/>
            </ng-template>
          </p-dialog>
          <p-button
            icon="pi pi-share-alt"
            class="p-button-rounded p-button-text"
            (click)="shareWorkspace(rowData)"
            [style]="{ 'margin-right': '.5em'}"/>
          <p-button
            icon="pi pi-trash"
            class="p-button-rounded p-button-text"
            (click)="deleteWorkspace(rowData.id)"
            [style]="{ 'margin-right': '.5em'}"/>
        </ng-container>
      </td>
    </tr> 
  </ng-template>
</p-treeTable>
