<div class="w-full h-screen flex flex-column justify-content-center align-items-center">
  <h1 class="text-3xl font-semibold">Credits</h1>
  <ul>
    <li>
      <a href="https://primeflex.org/">
        PrimeFlex CSS Utility Library 
      </a>
    </li>
    <li>
      <a href="https://primefaces.org/primeng/">
        PrimeNG UI Component Library
      </a>
    </li>
    <li>
      <a href="https://microsoft.github.io/monaco-editor/">
        Monaco Editor
      </a>
    </li>
    <li>
      <a href="https://judge0.com/">
        Judge0 Code Execution Webhook
      </a>
    </li>
    <li>
      <a href="https://www.prisma.io/">
        Prisma ORM
      </a>
    </li>
    <li>
      <a href="https://www.docker.com/">
        Docker
      </a>
    </li>
    <li>
      <a href="https://expressjs.com/">
        Express.js
      </a>
    </li>
    <li>
      <a href="https://yjs.dev/">
        Yjs Real-time Collaboration Library
      </a>
    </li>
  </ul>
  <h1 class="text-3xl font-semibold">Code Snippets</h1>
  <ul>
    <li>
      Making Monaco viewZones interactable: <a href="https://stackoverflow.com/questions/59081613/how-do-you-process-input-events-from-an-iviewzone-in-the-monaco-editor">Link</a>  
    </li>
    <li>
      Toggle for themes: <a href="https://medium.com/@mathieu.schnoor/light-dark-theme-switcher-in-angular-with-primeng-dad1c1d4a067">Link</a>
    </li>
    <li>
      C09 Lab8/10 for CI/CD
    </li>
  </ul>
</div>
