<p-menubar>
  <ng-template pTemplate="start">
    @if(isAuth) {
      <p-button
        label="My Workspaces"
        icon="pi pi-home"
        [routerLink]="['/workspaces']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['router-link-active']"
        [style]="{ marginRight: '0.5rem' }"
      />

      <p-button
        label="Shared Workspaces"
        icon="pi pi-users"
        [routerLink]="['/sharedworkspace']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['router-link-active']"
        [style]="{ marginRight: '0.5rem' }"
      />
    }
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      @if (isAuth) {
        <p-avatar
          class="user-avatar"
          [image]="profilePicture"
          (click)="menu.toggle($event)"
          shape="circle"
        />
        <p-tieredMenu #menu [model]="menuItems" [popup]="true" />
      } @else {
        <p-button
          label="Sign in with Google"
          [rounded]="true"
          (click)="handleGoogleSignIn()"
        />
      }
    </div>
  </ng-template>
</p-menubar>
